@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --white: #FFFFFF;
    --black: #1A1A1A;
    --light: #F2F3FF;
    --blue: #1F2247;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--blue);                                       
}

.header {
    position: fixed;
    top: 0;
    z-index: 5;
    height: 100px;
    width: 100vw;
    background: var(--white);
    color: var(--blue);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.header .search {
    margin-top: 5px;
    border: 2px solid black;
    height: 40px;
    width: 280px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search span {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background: var(--blue);
    color: var(--white);
    border-right: 2px solid var(--white);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search #input {
    width: 80%;
    height: 100%;
    font-size: 18px;
    outline: none;
    padding-left: 3px;
    border: none;
    border-radius: 5px;
}

.listItems {
    height: max-content;
    width: 100vw;
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 45px;
}

.item {
    position: relative;
    height: 300px;
    width: 320px;
    background: var(--white);
    border-radius: 15px;
    padding: 5px 5px;
    margin: 10px 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.listItems .item::after {
    content: "";
    position: absolute;
    bottom: -8px; 
    left: 5%;
    z-index: -1;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background: var(--white);
    opacity: 0.4;
    
}

.listItems .item::before {
    content: "";
    position: absolute;
    top: -8px; 
    left: 5%;
    z-index: -1;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    background: var(--white);
    opacity: 0.4;
    
}

#pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--black);
    z-index: 10;
    user-select: none;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    color: var(--white);
}

.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100vw;
    background: var(--white);
    box-shadow: -0px -4px 10px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: var(--blue);
    font-size: 18px;
    transition: 1s;
    z-index: 5;
}
