@font-face {
    font-family: "NHG-Medium";
    src: url(NHG-Medium.otf);
}

@font-face {
    font-family: "NHG-Bold";
    src: url("NHG-Bold.otf");
}

:root {
    --bg: #E8E8E8;
    --white: #FFFFFF;
    --black: #1A1A1A;
    --light: #F2F3FF;
    --blue: #1F2247;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NHG-Medium', sans-serif;
}

h1,
.bold-text {
    font-family: "NHG-Bold";
    color: white;
}

body {
    background: var(--bg);
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
body::after {
    content: "";
    background: url(bg.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
 
.intro {
    height: 300px;
    width: 17rem;
    background: rgba(0,0,0,0.15);
    color: #FFFFFF;
}


.footer {
    position: fixed;
    bottom: 10px;
    height: 55px;
    width: 100vw;
    background: var(--bg);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.10);
    border-radius: 35px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 2;
}

.footer input {
    width: 95%;
    height: 40px;
    padding: 10px;
    outline: none;
    border: none;
    background: #FFFFFF;
    border-radius: 35px;
    font-size: 17px;
    transition: 0.5s;
}

.footer input:hover {
    color: #3B49E2;
}
